@font-face {
	font-family: "SOURCEHANSANSCN-LIGHT";
	src: url("../fonts/SOURCEHANSANSCN-LIGHT.woff2") format("woff2"), url("../fonts/SOURCEHANSANSCN-LIGHT.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SOURCEHANSANSCN-REGULAR";
	src: url("../fonts/SOURCEHANSANSCN-REGULAR.woff2") format("woff2"), url("../fonts/SOURCEHANSANSCN-REGULAR.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SOURCEHANSANSCN-EXTRALIGHT";
	src: url("../fonts/SOURCEHANSANSCN-EXTRALIGHT.woff2") format("woff2"), url("../fonts/SOURCEHANSANSCN-EXTRALIGHT.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 18px; /* по умолчанию */
}
body {
	font-family: 'SOURCEHANSANSCN-LIGHT', sans-serif;
	line-height: 1;
	height: 100%;
	background: #ffffff;
}
.section {
	min-height: 100%;
	overflow: hidden;
}
.wrapper {
	max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}
.header{
	margin-top: 13px;
	display: flex;
	margin-bottom: 18px;
}
.logo__img{
    width: 145px;
    height: 67px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col{
    margin: 0 15px;
    box-sizing: border-box;
}
.header__menu{
	display: flex;
	align-items: center;
	margin-left: auto;
	
}
.menu ul{
	display: flex;
	list-style: none;
	align-items: center;
}
.menu__item{
	margin-left: 50px;
	font-family: 'SOURCEHANSANSCN-LIGHT', sans-serif;
	font-size: 18px;
}
.menu__item a{
	color: #333333;
}
.img_a{
	vertical-align: middle;
	align-items: middle;
	width: 15px;
}
.menu__item::after{
	content: "";
	display: inline-block;
	position: absolute;
	
	vertical-align: top;
	margin: 6px;
	width: 28px;
	height: 27px;
	background: url(../img/down.png) no-repeat;
}
.lang::after{
	content: "";
	display: inline-block;
	position: absolute;
	margin-left: 10px;
	vertical-align: top;
	margin: 6px;
	width: 28px;
	height: 27px;
	background: url(../img/down.png) no-repeat;
}
.logo{
    display: flex;
}

.btn{
	background: url("../img/icon_btn.png") 95% 50% no-repeat, linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(102,51,255,1) 0%, rgba(15,148,234,1) 58%, rgba(76,223,109,1) 100%);
	cursor: pointer;
	padding: 10px 60px 10px 20px;
	border-radius: 50px;
	margin-left: 45px;
  }
  .btn__text{
	font-family: 'SOURCEHANSANSCN-LIGHT', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
  }

.lang{
	margin-left: 20px;
	color: #999999;
}
.mountain{
	background: url(../img/back1.png) 50% / cover no-repeat, linear-gradient(rgba(39, 2, 150, 0.46), rgba(39, 2, 150, 0.46)), url(../img/back.png) 50% / cover no-repeat;
	height: 650px;
}
.mountain__back{
	height: 650px;
}
.box{
	max-width: 1400px;
    margin: 0 auto;
	text-align: center;
	padding-top: 150px;
}
.box__title{
	font-family: 'SOURCEHANSANSCN-REGULAR', sans-serif;
	font-size: 60px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.box__subtitle{
	font-family: 'SOURCEHANSANSCN-EXTRALIGHT', sans-serif;
	font-weight: 200;
	font-size: 46px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 38px;
}
.box__text{
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 80px;
}
.box__btn{
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(102,51,255,1) 0%, rgba(15,148,234,1) 58%, rgba(76,223,109,1) 100%);
	cursor: pointer;
	padding: 14px 54px;
	border-radius: 50px;
	
}
.box__btn-text{
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.wrapper_services{
	background-color: #f5f5f5;
}
.our_services{
	max-width: 1400px;
    margin: 0 auto;
    text-align: center;
	
	
}
.our_services__title{
	font-size: 33px;
	color: #000;
	margin-bottom: 25px;
	padding-top: 30px;
}
.our_services__title::after{
	content: "";
	width: 55px;
	height: 3px;
	background-color: #6243eb;
	display: flex;
	margin: 30px auto;
}
.our_services__subtitle{
	font-size: 18px;
	color: #000;
	margin-bottom: 50px;
}
.items{
	display: flex;
	
}
.item{
	max-width: 350px;
	background-color: #fff;
}
.item__img{
	margin-top: 43px;
	margin-bottom: 22px;
}
.item__title{
	font-family: 'SOURCEHANSANSCN-EXTRALIGHT', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.3;
	padding: 0 20px;
}
.item__title::after{
	content: "";
	width: 239px;
	height: 1px;
	background-color: #9fa0a0;
	display: block;
	margin: 30px auto;
}
.active::after{
	content: "";
	width: 239px;
	height: 1px;
	background-color: #70acfe;
	display: block;
	margin: 30px auto;
}
.color_white{
	color: #fff;
}
.item__text{
	font-family: 'SOURCEHANSANSCN-EXTRALIGHT', sans-serif;
	font-size: 14px;
	line-height: 2.4;
	padding: 0 45px 50px 45px;
	text-align: left;
	text-align: justify;
}
.gradient{
	background: linear-gradient(0deg, rgb(98, 67, 235), rgb(15, 148, 234) 58%, rgb(76, 223, 109));
}
.point{
	margin: 40px 0 0 0;
	padding-bottom: 65px;
	text-align: center;
}
.point__active{
	content: "";
	width: 13px;
	height: 13px;
	background-color: #0f94ea;
	display: inline-block;
	border-radius: 50%;
}
.point__disable{
	content: "";
	width: 10px;
	height: 10px;
	background-color: #aaaaaa;
	display: inline-block;
	margin-bottom: 1px;
	border-radius: 50%;
}
.mountain__point{
	padding-top: 100px;
}
.white{
	background-color: #fff;
}
.step{
	height: 320px;
	background: url(../img/bg_step.png) 50% / cover no-repeat;
	text-align: center;
}
.step__title{
	padding-top: 100px;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 15px;
}
.step__text{
	font-size: 18px;
	color: #fff;
	margin-bottom: 45px;
}
.step__btn{
	background: linear-gradient(0deg, rgb(176, 225, 250), rgb(251, 240, 234));
	cursor: pointer;
	padding: 14px 25px;
	border-radius: 26px 0px;
}
.step__btntext{
	font-size: 16px;
	color: #6243eb;
	text-transform: uppercase;
}
.section_color{
	background-color: #f5f5f5;
	
}
.news{
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 65px;
}
.line{
	max-width: 1400px;
	margin: 0 auto;
	height: 1px;
	background-color: #cccccc;
	margin-bottom: 30px;
	
}
.wrapper_news{
	display: flex;
	justify-content: space-between;
}
.item_news{
	display: flex;
	padding-bottom: 35px;
}
.box_news{
	display: flex;
	margin-left: auto;
}
.text{
	font-size: 18px;
	color: #1f1bdd;

}
.section_news{
	max-width: 430px;
}
.text_news{
	font-size: 16px;
	margin-right: 8px;
	color: #005ecc;
}
.img_news{
	max-width: 451px;
	min-height: 239px;
}
.data_news{
	margin-top: 20px;
	font-size: 14px;
	color: #666666;
}
.title_news{
	margin-top: 20px;
	text-align: justify;
	font-size: 16px;
	color: #666666;
	line-height: 1.5;
}
.square__active{
	content: "";
	width: 13px;
	height: 13px;
	background-color: #939598;
	display: inline-block;
}
.square__disable{
	content: "";
	width: 10px;
	height: 10px;
	background-color: #0000;
	display: inline-block;
}